@import "src/assets/styles/variables";

.subheader-container {
  padding: 0 18px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  width: 94rem;
  background-color: floralwhite;
}
.p {
  color: $p-light-grey;
}
