<div *ngIf="!list" fxlayout="row" fxLayoutAlign="start center" fxLayoutGap="86%" class="subheader-container">
  <h4>Contact Send</h4>
  <span fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <p>Last 30 days</p>
  <i class="pi pi-chevron-down"></i>
  </span>
</div>
<!--<div fxlayout="row" fxLayoutAlign="start center" fxLayoutGap="20%" class="subheader-container">-->
<!--  <div fxLayout="row" fxLayoutGap="2%">-->
<!--    <i class="pi pi-book"></i>-->
<!--    <span fxLayout="column">-->
<!--      <h4>List (256)</h4>-->
<!--      <p>Hello</p>-->
<!--    </span>-->
<!--  </div>-->
<!--  <span fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">-->
<!--    <p>Last 30 days</p>-->
<!--  <i class="pi pi-chevron-down"></i>-->
<!--  </span>-->
<!--</div>-->
