@import "src/assets/styles/variables";

.subheader-container {
  padding: 0 18px;
  border: 1px solid $black;
  width: 94rem;
  background-color: $floral-white;
  margin-top: 8px;
}
.p {
  color: $p-light-grey;
}
