@import 'src/assets/styles/variables';

.subheader-container {
  padding: 0 18px;
  border: 1px solid $black-12;
  width: 94rem;
  margin-left: 24px;
  background-color: $floral-white;
  margin-top: 8px;
  margin-bottom: 4px;
}

