<div fxLayout="column" fxflex="100" class="sidebar-container">
  <div fxFlex="8" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px" class="sidebar-container__contact mb-16 pb-16">
    <i class="sidebar-container__contact-icon pi pi-shield ml-24"></i>
    <h3 class="sidebar-container__space ml-8">ContactBlaster</h3>
  </div>
  <div fxFlex="96" fxLayout="column" fxLayoutAlign="space-between" class="sidebar-container__content ml-24">
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="start center" class="sidebar-hover cursor--pointer mr-24 br-4" (click)="dashboard()">
        <i class="pi pi-fw pi-microsoft"></i>
        <h5 class="sidebar-container__space ml-8">DashBoard</h5>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" class="sidebar-hover cursor--pointer mr-24 br-4" (click)="list()">
        <i class="pi pi-fw pi-align-justify"></i>
        <h5 class="sidebar-container__space ml-8">List</h5>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" class="sidebar-hover cursor--pointer mr-24 br-4" *ngFor="let item of items">
        <i class="sidebar-container__icon {{item.icon}}"></i>
        <h5 class="sidebar-container__space ml-8">{{item.label}}</h5>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="end start">
      <div fxLayout="row" fxLayoutAlign="start center" class="sidebar-hover cursor--pointer mr-24 br-4" *ngFor="let list of status">
        <i class="sidebar-container__icon {{list.icon}}"></i>
        <h5 class="sidebar-container__space ml-8">{{list.label}}</h5>
      </div>
    </div>
  </div>
</div>

