@import 'src/assets/styles/variables';
@import 'src/assets/styles/common';

.sidebar-container {
  border: 1px solid $black-12;
  background-color: $floral-white;
  &__contact {
    border-bottom: 1px solid $black-12;

    &-icon {
      color: $slate-blue;
    }

    &-icon:hover {
      color: $american-violet;
    }
  }

  &--icon {
    color: $black-64;
  }

  &--icon:hover {
    color: $american-violet;
  }

}
.sidebar-hover:hover {
  background-color: $blue-12;
  color: $primary-color;
}
