@import 'src/assets/styles/variables';

.sidebar-container {
  padding: 16px 0;
  border: 1px solid $black-12;
  width: 256px;
  height: 852px;
  background-color: $floral-white;

  &__contact {
    border-bottom: 1px solid $black-12;
    padding-bottom: 16px;

    &-icon {
      margin-left: 24px;
      color: $slate-blue;
    }

    &-icon:hover {
      color: $american-violet;
    }
  }

  &__space {
    margin-left: 8px;
  }

  &--icon {
    color: $black-64;
  }

  &--icon:hover {
    color: $american-violet;
  }

  &__content {
    margin-left: 24px;
  }
}
.sidebar-hover:hover {
  background-color: $blue-12;
  color: $primary-color;
  margin-right: 24px;
  border-radius: 4px;
  cursor: pointer;
}
