.sidebar-container {
  padding:16px 0;
  border:1px solid rgba(0, 0, 0, 0.12);
  width: 256px;
  height: 852px;
  background-color: floralwhite;
  &--contact {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    height: 52px;
    padding-bottom: 16px;

    &-icon {
      margin-left: 24px;
      color: #6372F1;
    }
    &-icon:hover {
      color: blueviolet;
    }
  }
  &--space{
    margin-left: 8px;
  }
  &--icon {
    color: rgba(0, 0, 0, 0.64);
  }
  &--icon:hover {
    color: blueviolet;
  }
  &--content {
    margin-left: 24px;
  }
}
