
<div class="sidebar-container" fxflex="100" fxLayout="column">
  <div fxFlex="4" fxLayout="row" fxLayoutAlign="start center" class="sidebar-container__contact">
    <i class="sidebar-container__contact-icon pi pi-shield"></i>
    <h3 class="sidebar-container--space">ContactBlaster</h3>
  </div>
  <div fxFlex="96" fxLayout="column" fxLayoutAlign="space-between" class="sidebar-container__content">
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="start center" >
        <i class="pi pi-fw pi-microsoft"></i>
        <h5 class="sidebar-container__space">DashBoard</h5>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" (click)="list()">
        <i class="pi pi-fw pi-align-justify"></i>
        <h5 class="sidebar-container__space">List</h5>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" *ngFor="let item of items">
        <i class="sidebar-container__icon {{item.icon}}"></i>
        <h5 class="sidebar-container__space">{{item.label}}</h5>
      </div>
    </div>
    <div fxLayout="column" fxLayoutAlign="end start">
      <div fxLayout="row" fxLayoutAlign="start center" *ngFor="let list of status">
        <i class="sidebar-container__icon {{list.icon}}"></i>
        <h5 class="sidebar-container__space">{{list.label}}</h5>
      </div>
    </div>
  </div>
</div>
