@import 'src/assets/styles/variables';
.header-container {
  padding: 0 24px;
  border: 1px solid $black;
  width: 97.2rem;
  height: 70px;
  background-color: $floral-white;
  &__description {
    font-family: Roboto;
    &-detail {
      color: $p-light-grey;
    }
  }
}

