@import 'src/assets/styles/variables';
@import 'src/assets/styles/font';
@import 'src/assets/styles/common';

.header-container {
  border: 1px solid $black-12;
  background-color: $floral-white;
  height: 70px;
  &__description {
    &-detail {
      color: $black-62;
    }
  }
}

