<div fxLayout="row" fxLayoutAlign="space-between" class="header-container p-0 p-24">
  <div fxlayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
    <span>
      <i class="pi pi-bars"></i>
      <i class="pi pi-angle-left"></i>
    </span>
    <h4>DashBoard</h4>
  </div>
  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px" class="header-container__description">
    <div fxLayout="row" fxLayoutGap="4px" class="header-container__description-detail">
      <p><b>8752</b></p>
      <p>Avaliable Credits</p>
    </div>
    <i class="pi pi-database"></i>
    <button pButton pRipple type="button" label="GET MORE CREDITS" class="p-button-outlined"></button>
    <i class="pi pi-arrow-circle-right"></i>
  </div>
</div>

