<app-list-header></app-list-header>
<app-sub-header-list></app-sub-header-list>
<div class="list-container">
  <p-table #dt [value]="user">
    <ng-template pTemplate="header">
      <tr>
        <th>
          <p-tableHeaderCheckbox data-cy="checkAll"></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="code">List Item<p-sortIcon field="code"></p-sortIcon></th>
        <th pSortableColumn="name">Create on <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="category">Actions <p-sortIcon field="category"></p-sortIcon></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr class="p-selectable-row">
        <td>
          <p-tableCheckbox [value]="user" data-cy="checkBox"></p-tableCheckbox>
        </td>
        <td fxLayoutAlign="start center">
          {{user.list_item}}
        </td>
        <td>{{user.Create_on}}</td>
        <td><div fxLayoutGap="20px">
          <i class="pi pi-pencil"></i>
          <i class="pi pi-trash"></i>
          <i class="pi pi-ellipsis-h"></i>
        </div></td>
      </tr>
    </ng-template>
  </p-table>
  <div fxLayout="row" fxLayoutGap="50%" class="list-container__paginator">
    <span fxLayout="row" fxLayoutGap="24px">
      <p>Items per page 10</p>
      <i class="pi pi-angle-down"></i>
    </span>
    <p-paginator class="list-container__pagination"  [rows]="3" [totalRecords]="120" fxLayoutGap="0px" ></p-paginator>
  </div>
</div>
