<app-list-header></app-list-header>
<app-sub-header-list></app-sub-header-list>
<div class="list-container">
  <p-table #dt [value]="users">
    <ng-template pTemplate="header">
      <tr>
        <th>
          <p-tableHeaderCheckbox data-cy="checkAll"></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="code">List Item<p-sortIcon field="code"></p-sortIcon></th>
        <th pSortableColumn="name">Create on <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="category">Actions <p-sortIcon field="category"></p-sortIcon></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-users>
      <tr class="p-selectable-row">
        <td>
          <p-tableCheckbox [value]="users" data-cy="checkBox"></p-tableCheckbox>
        </td>
        <td fxLayoutAlign="start center">
          {{users.list_item}}
        </td>
        <td>{{users.Create_on}}</td>
        <td><div fxLayoutGap="20px">
          <i class="pi pi-pencil"></i>
          <i class="pi pi-trash"></i>
          <i class="pi pi-ellipsis-h"></i>
        </div></td>
      </tr>
    </ng-template>
  </p-table>
  <div fxLayout="row" fxLayoutGap="50%" class="list-container__paginator">
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="4px">
      <p class="list-container__paginator-detail">Items per page: <b>10</b></p>
      <i class="pi pi-caret-down"></i>
    </div>
    <p-paginator class="list-container__pagination" [rows]="3" [totalRecords]="120"></p-paginator>
  </div>
</div>
