.subheader-container {
  padding: 0 18px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  width: 94rem;
  background-color: floralwhite;
  margin-left: 24px;
}

.list-container {
  width: 94rem;
  margin-left: 24px;
  &__pagination {
    border-radius: 8px;
  }
}
