
<div class="list-container">
  <p-table #dt [value]="users" >
    <ng-template pTemplate="header">
      <tr>
        <th>
          <p-tableHeaderCheckbox data-cy="checkAll"></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="code" style="width:10%">List Item<p-sortIcon field="code"></p-sortIcon></th>
        <th pSortableColumn="name" style="width:10%">Create on <p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="category" style="width:10%">Actions <p-sortIcon field="category"></p-sortIcon></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-users>
      <tr class="p-selectable-row">
        <td>
          <p-tableCheckbox [value]="users" data-cy="checkBox"></p-tableCheckbox>
        </td>
        <td fxLayoutAlign="start center">
          {{users.list_item}}
        </td>
        <td>{{users.Create_on}}</td>
        <td><div fxLayoutGap="20px">
          <i class="pi pi-pencil"></i>
          <i class="pi pi-trash"></i>
          <i class="pi pi-ellipsis-h"></i>
        </div></td>
      </tr>
    </ng-template>
  </p-table>
<!--  <p-paginator class="list-container__pagination" [rowsPerPageOptions]="[10,20,30]"  [rows]="3" [totalRecords]="120" ></p-paginator>-->
</div>
