@import 'src/assets/styles/variables';
@import 'src/assets/styles/common';

.list-container {
  width: 97%;
  &__table-header {
    background-color: $black-12;
  }
  &__paginator {
    background-color: $floral-white;
  }
}
