<app-header></app-header>
<app-sub-header class="sub-header-component"></app-sub-header>
<div fxLayout="column" class="dashboard-container">
  <div fxLayoutAlign="center center" class="width--full">
    <p>No. of contacts</p>
    <div fxFlex="70" class="dashboard-container__graph">
      <p-chart type="line" [data]="lineStylesData" height="300" [options]="options"></p-chart>
    </div>
  </div>
  <p fxLayoutAlign="center center">Days [2022]</p>
  <div fxLayout="column">
    <div fxlayout="row" fxLayoutAlign="space-between center" class="dashboard-container__card-title">
      <h5 class="dashboard-container__card-title-detail">How to use the portal</h5>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
        <p>3 of 4</p>
        <i class="pi pi-arrow-circle-left"></i>
        <i class="pi pi-arrow-circle-right"></i>
      </div>
    </div>
    <div fxLayout="row">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px" *ngFor="let item of [1, 2, 3, 4]" class="dashboard-container__card-img">
        <p-image src="assets/image/dashboard-img.svg" alt="Image" width="340">
          <ng-template pTemplate="indicator">
            Indicator Content
          </ng-template>
        </p-image>
        <div fxLayout="column" class="dashboard-container__card-img-caption">
          <div fxFlex="30" fxLayout="row" fxLayoutGap="8px"
               fxLayoutAlign="start center" class="dashboard-container__card-img-description">
            <i class="pi pi-stopwatch"></i>
            <p>12 Min</p>
          </div>
          <p class="dashboard-container__card-img-description">How to add list</p>
        </div>
      </div>
    </div>
  </div>
</div>




