<app-header></app-header>
<div class="dashboard">
  <app-sub-header class="ml-24"></app-sub-header>
  <div class="dashboard-container width--full mb-24 pb-24">
    <div fxLayoutAlign="center center" class="width--full">
      <p>No. of contacts</p>
      <div fxFlex="70" class="dashboard-container__graph m-16">
        <p-chart type="line" [data]="lineStylesData" height="300" [options]="options"></p-chart>
      </div>
    </div>
    <p fxLayoutAlign="center center">Days [2022]</p>
    <div fxLayout="column">
      <div fxFlex="20" fxlayout="row" fxLayoutAlign="space-between center" class="dashboard-container__card-title p-20">
        <h5 class="dashboard-container__card-title-detail ml-4">How to use the portal</h5>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
          <p>3 of 4</p>
          <i class="pi pi-arrow-circle-left"></i>
          <i class="pi pi-arrow-circle-right"></i>
        </div>
      </div>
      <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign.lt-sm="center center" ngClass.gt-md="mx-24">
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="24px" *ngFor="let item of [1, 2, 3, 4]" class="dashboard-container__card-img" ngClass.lt-sm="mb-20">
          <p-image src="assets/image/dashboard-img.svg" alt="Image">
            <ng-template pTemplate="indicator">
              Indicator Content
            </ng-template>
          </p-image>
          <div fxLayout="column" fxFlex="100" fxLayout.lt-sm="column" class="dashboard-container__card-img-caption pr-0 py-12 pl-4">
            <div fxFlex="30" fxLayout="row" fxLayoutGap="8px"
                 fxLayoutAlign="start center" class="dashboard-container__card-img-description ml-16">
              <i class="pi pi-stopwatch"></i>
              <p>12 Min</p>
            </div>
            <p class="dashboard-container__card-img-description ml-16">How to add list</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





