@import 'src/assets/styles/variables';
@import 'src/assets/styles/common';

.subheader-container {
  border: 1px solid $blue-12;
  //width: 1488px;
  background-color: $floral-white;
  height: 66px;
  &__content {
    height: 40px;

    &-avatar {
      background-color: $dodger-blue;
      color: $white;
    }

    &-sub-text {
      font-size: 14px;
    }
  }
  &__search:hover {
    color: $american-violet;
  }
  &__input--height {
    height: 40px;
  }
}
::ng-deep.p-avatar {
  height: 40px !important;
  width: 40px !important;
}
