.subheader-container {
  padding: 0 18px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  width: 94rem;
  background-color: floralwhite;
  margin-left: 24px;
  margin-bottom: 16px;
  height: 62px;
  &__left {
    height: 40px;
    &-caption {
      height: 20px;
    }
  }
  &__search {
    height: 40px;
    &-btn:hover {
      color: blueviolet;
    }
  }
  &__search:hover {
    //color: blueviolet;
  }
}
