<div fxlayout="row" fxLayoutAlign="space-between center" class="subheader-container ml-24 my-24 pr-16">
  <div fxFlex="40" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px" class="subheader-container__content m-0 m-16">
    <p-avatar icon="pi pi-book" class="subheader-container__content-avatar"></p-avatar>
    <div class="subheader-container__content-header pb-12">
      <h4 class="subheader-container__content-heading mb-N8">List (256)</h4>
      <p class="subheader-container__content-sub-text">Here you will find all the list items in this system</p>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px" class="subheader-container__search cursor--pointer">
    <span class="p-input-icon-right">
      <i class="pi pi-search"></i>
      <input type="text" pInputText placeholder="Search list by name" class="subheader-container__input--height"/>
    </span>
    <p-button label="UPLOAD LIST" icon="pi pi-file-import"></p-button>
  </div>
</div>

