.header-container {
  padding: 0 24px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  width: 97.2rem;
  height: 72px;
  background-color: floralwhite;
  margin-bottom: 16px;
  &--btn {
    font-family: Roboto;
  }
}

