@import 'src/assets/styles/variables';
@import 'src/assets/styles/font';

.header-container {
  border: 1px solid $blue-12;
  width: 1555.2px;
  height: 68px;
  background-color: $floral-white;
  &__description {
    &-detail {
      color: $black-62;
    }
  }
}

