$black: #000000;
$primary-color: #6372F1;
$black-62: rgba($black,0.62);
$floral-white:  #FFFAF0;
$black-12: rgba($black, 0.12);
$black-64: rgba($black, 0.64);
$american-violet: #551B8C;
$slate-blue: #6372F1;
$grey: rgba(41,33,37,0.67);
