$primary-color: #6372F1;
$p-light-grey: rgba(0,0,0,0.62);
$floral-white:  #FFFAF0;
$black: rgba(0, 0, 0, 0.12);
$black-icon: rgba(0, 0, 0, 0.64);
$american-violet: #551b8c;
$slate-blue: #6372F1;
$grey: rgba(41,33,37,0.67);
$black-black: rgb(0,0,0);
